PubgMongolia
<br>
<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Point</th>
        </tr>
    </thead>
    <tbody>
        <%@players.each do |player|%>
            <tr>
                <td><%= player.name %></td>
                <td><%= player.cp %></td>
            </tr>
        <%end%>
    </tbody>
</table>

