<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h1>RaceIT.MN</h1>
    </div>

    <div id="formFooter" class="fadeIn second">
        <a href="<%=admin_google_oauth2_omniauth_authorize_path%>">Sign in with Google</a>
    </div>
  </div>
</div>
