<% content_for :navbar, "Player Manage" %>
<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Players</h4>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>UID</th>
                        <th>Account</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% @players.each_with_index do |r, index| %>
                            <tr>
                                <td><%=index+1%></td>
                                <td><%=r.name%></td>
                                <td><%=r.uid%></td>
                                <td><%=r.account%></td>
                                <td><%=r.status%></td>
                                <td><%=r.created_at%></td>
                                <td>
                                   <a class="btn btn-primary btn-sm" href="<%=backend_players_path({id: r})%>" role="button">
                                    <%= t('action.show')%>
                                   </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
