<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rooms</h4>
            </div>
            <div class="card-body">
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Join At</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <% @rooms.each_with_index do |r, index| %>
                                <tr>
                                    <td><%=index+1%></td>
                                    <td><%=r.name%></td>
                                    <td><%=r.created_at%></td>
                                    <td></td>
                                </tr>  
                            <%end%>      
                        </tbody>            
                    </table> 
                </div>    
            </div>
        </div>    
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-image">
                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="<%=@player.image%>" alt="...">
                        <h5 class="title"><%=@player.name%></h5>
                    </a>
                    <p class="description">
                        <%=@player.nickname%>
                    </p>
                </div>
                <p class="description text-center">
                    <%=t('title.uid')%>:&nbsp;<%=@player.uid%>
                </p>
                <p class="description text-center">
                    <%=t('title.account')%>:&nbsp;<%=@player.account%>
                </p>
                <p class="description text-center">
                    <%=t('title.email')%>:&nbsp;<%=@player.email%>
                </p>
                <p class="description text-center">
                    <%=t('title.sign_in_count')%>:&nbsp;<%=@player.sign_in_count%>
                </p>
                <p class="description text-center">
                    <%=t('title.last_sign_in_at')%>:&nbsp;<%=@player.last_sign_in_at%>
                </p>
                <p class="description text-center">
                    <%=t('title.location')%>:&nbsp;<%=@player.location%>
                </p>
            </div>
            <hr>
            <div class="button-container mr-auto ml-auto">
                <button href="#" class="btn btn-simple btn-link btn-icon">
                    <i class="fa fa-facebook-square"></i>
                </button>
                <button href="#" class="btn btn-simple btn-link btn-icon">
                    <i class="fa fa-twitter"></i>
                </button>
                <button href="#" class="btn btn-simple btn-link btn-icon">
                    <i class="fa fa-google-plus-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>    