<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><%=title%></h4>
            </div>
            <div class="card-body">
                <%= form_for :room, url: backend_rooms_path, :method => method do |f| %>
                    <%if @room.id.present?%>
                        <%= f.hidden_field(:id, :value => @room.id)%>
                    <%end%>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label><%= t('lbl.name')%></label>
                                <%= f.text_field :name, class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label><%= t('lbl.full_cnt')%></label>
                                <%= f.number_field :full_cnt, class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label><%= t('lbl.match_cnt')%></label>
                                <%= f.number_field :match_cnt, class: "form-control", required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label><%= t('lbl.place_cnt')%></label>
                                <%= f.number_field :place_cnt, class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label><%= t('lbl.ticket')%></label>
                                <%= f.number_field :ticket, class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label><%= t('lbl.time_limit')%></label>
                                <%= f.number_field :time_limit, class: "form-control", required: true %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label><%= t('lbl.status')%></label>
                                <%= f.select :status, options_for_select([['Open', ROOM_OPEN], ['Closed', ROOM_CLOSED], ['Finished', ROOM_FINISHED]],@room.status), {:include_blank => true}, {class: "form-control", required: true} %>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label><%= t('lbl.method')%></label>
                                <%= f.select :method, options_for_select([['Normal', METHOD_NORMAL], ['Simple', METHOD_SIMPLE]],@room.method), {:include_blank => true}, {class: "form-control", required: true} %>
                            </div>
                        </div>
                    </div>    
                    
                    <button type="submit" class="btn btn-info btn-fill pull-right"><%=t('action.submit')%></button>
                    <div class="clearfix"></div>
                <% end %>
            </div>
        </div>
    </div>
</div>