<% content_for :navbar, "Room Manage" %>
<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Rooms</h4>
                <div class="card-action">
                  <a class="btn btn-primary btn-sm" href="<%=new_backend_rooms_path%>" role="button">Нэмэх</a>
                </div>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ticket</th>
                        <th>Full Cnt</th>
                        <th>Member Cnt</th>
                        <th>Time Limit</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% @rooms.each_with_index do |r, index| %>
                            <tr>
                                <td><%=index+1%></td>
                                <td><%=r.name%></td>
                                <td><%=r.ticket%></td>
                                <td><%=r.full_cnt%></td>
                                <td><%=r.member_cnt%></td>
                                <td><%=r.time_limit%></td>
                                <td><%=r.amount%></td>
                                <td><%=r.status%></td>
                                <td><%=r.created_at%></td>
                                <td>
                                   <a class="btn btn-primary btn-sm" href="<%=edit_backend_rooms_path({id: r})%>" role="button">
                                    <%= t('action.edit')%>
                                   </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
