<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RaceIT Admin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="wrapper">
          <div class="sidebar">
              <div class="sidebar-wrapper">
                  <div class="logo">
                      <a href="/" target='_blank' class="simple-text">
                          RaceIT
                      </a>
                  </div>
                  <ul class="nav">
                      <li class="<%=active_class(backend_root_path)%>">
                          <a class="nav-link" href="<%=backend_root_path%>">
                              <i class="nc-icon nc-notes"></i>
                              <p>Rooms</p>
                          </a>
                      </li>
                      <li class="<%=active_class(list_backend_players_path)%>">
                          <a class="nav-link" href="<%=list_backend_players_path%>">
                              <i class="nc-icon nc-circle-09"></i>
                              <p>Players</p>
                          </a>
                      </li>
                      
                  </ul>
              </div>
          </div>
          <div class="main-panel">
              <!-- Navbar -->
              <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                  <div class="container-fluid">
                      <a class="navbar-brand" href="#"><%=yield(:navbar)%></a>
                      
                      <div class="collapse navbar-collapse justify-content-end" id="navigation">
                          
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                  <a class="nav-link" href="#">
                                      <span class="no-icon"><%=current_admin.name%></span>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="<%=destroy_admin_session_path%>">
                                      <span class="no-icon">Log out</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
              <!-- End Navbar -->
              <div class="content">
                  <div class="container-fluid">
                      <%= yield %>
                  </div>
              </div>
              <footer class="footer">
                  <div class="container-fluid">
                      <nav>
                          <ul class="footer-menu">
                              <li>
                                  <a href="/" target='_blank'>
                                      Home
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Company
                                  </a>
                              </li>
                          </ul>
                          <p class="copyright text-center">
                              ©
                              <script>
                                  document.write(new Date().getFullYear())
                              </script>
                              <a href="">RaceIT</a>
                          </p>
                      </nav>
                  </div>
              </footer>
          </div>
      </div>
    </body>
</html>
